.resultscontainer {
  background-color: hsl(46, 22%, 73%);
}

.resultsbody {
  margin: auto;
}

.searchmsg {
  font-size: 1.1rem;
  font-weight: 400;
  margin-right: 0.5rem;
}

.searchtext {
  margin-left: 1rem; /* to line up with cards */
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.card {
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 3rem;
  background-color: hsl(35, 48%, 95%);
}

.thumbnail {
  width: 100%;
}

@media only screen and (min-width: 912px) {
  .thumbnail {
    width: 75%;
  }
  .resultsbody {
    width: 80%;
  }
}

@media only screen and (min-width: 1440px) {
  .thumbnail {
    width: 25%;
  }
  .resultsbody {
    width: 60%;
  }
}
