.searchbar {
  padding: 10% 0;
  margin: none;
}

.searchbar button {
  width: 50%;
  margin: auto;
  display: block;
  padding: 0.75rem 0;
}

.subtext-container {
  width: 50%;
  margin-left: 1rem;
  margin-top: 2rem;
}

@media only screen and (min-width: 628px) {
  .searchbar button,
  .subtext-container {
    width: 30%;
  }
  .searchbar {
    padding: 63px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .searchbar button {
    padding: 2%;
  }
}
